.calculadora {
    margin: 20px;
    width: 400px;
}
h2 {
    padding-top: 20px;
}
h2#resultadoCM {
    font-size: 20px;
    font-weight: lighter;
}
footer.pt-4.my-md-5.pt-md-5.border-top {
    text-align: center;
    color: #ccc;
}
p.version {
    margin-bottom: 0;
    color: #ccc;
    margin-left: 10px;
    align-self: flex-end;
}
header h1{
    margin: 0;
}